#info-page {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

.info-topbar {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
}

.info-exit-button {

}

.info-page-title {

}

.nq-info-article {
    height: fit-content;
    width: min(1500px, 95%);
}

.section-head {
    font-size: 40px;
}

.section-desc {
    font-size: 30px;
}

.main-contents-list {
    font-size: 30px;
}

.sub-section-head {
    font-size: 35px;
}

.block-math {
    display: block;
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}