html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.info-topbar {
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

}

.info-page-title {
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    box-sizing: border-box;
    padding: 25px 0;
}

.nq-info-article {
    height: fit-content;
    width: min(1500px, 95%);
}

.nq-info-article>h2 {
    font-size: 40px;
}

.nq-info-article>p {
    font-size: 30px;
}

.main-contents-list>li {
    color: rgb(0, 0, 238);
    text-decoration: underline;
    cursor: pointer;
    font-size: 30px;
    width: fit-content;
}

.main-contents-list>li:active {
    color: rgb(255, 0, 0);
}

.main-contents-list>li::marker {
    color: black;
    cursor: default;
}

.block-math {
    display: block;
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.block-code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 20px auto;
    background-color: #F3F4F5;
    border: 0.5px solid rgba(128, 128, 128, 0.376);
    border-radius: 7.5px;
    font-size: 25px;
}

.code-lang-label {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: monospace;
    font-size: 75%;
}

.code-wrap {
    margin: 0;
    box-sizing: border-box;
    padding: 16px;
    font-size: 100%;
}

.links-list>li {
    margin: 40px 0;
    font-size: 30px;
}

.list-link {
    font-size: 35px;
}

.author-note {
    border: 0.5px solid rgba(128, 128, 128, 0.606);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    color: rgba(0, 0, 0, 0.759);
}