html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 40px;
}

.info-topbar {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info-page-title {
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    box-sizing: border-box;
    padding: 25px 0;
    font-size: 87.5%;
}

.nq-info-article {
    height: fit-content;
    width: min(1500px, 95%);
    overflow-x: auto;
    box-sizing: border-box;
    padding: 0 1px;
}

.nq-info-article>h2 {
    font-size: 100%;
}

.nq-info-article>p {
    font-size: 75%;
}

.main-contents-list>li {
    color: rgb(0, 0, 238);
    text-decoration: underline;
    cursor: pointer;
    font-size: 81.25%;
    width: fit-content;
    margin: 20px 0;
}

.main-contents-list>li:active {
    color: rgb(255, 0, 0);
}

.main-contents-list>li::marker {
    color: black;
    cursor: default;
}

.block-math {
    display: block;
    font-size: 87.5%;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
    margin: 20px 0;
}

.block-code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 20px auto;
    background-color: #F3F4F5;
    border: 0.5px solid rgba(128, 128, 128, 0.376);
    box-sizing: border-box;
    border-radius: 7.5px;
    font-size: 62.5%;
}

.code-lang-label {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: monospace;
    font-size: 75%;
}

.code-wrap {
    margin: 0;
    box-sizing: border-box;
    padding: 16px;
    font-size: 100%;
}

.links-list>li {
    margin: 40px 0;
    font-size: 75%;
}

.list-link {
    font-size: 116.67%;
}

.author-note {
    border: 0.5px solid rgba(128, 128, 128, 0.606);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    color: rgba(0, 0, 0, 0.759);
}

.author-name {
    color: rgb(0, 5, 165);
}

@media (max-width: 600px) {
    body {
        font-size: 25px;
    }
}