.dark-overlay {
    position: fixed;
    top: 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.341);
    z-index: 99;
}

.top-stacking-overlay {
    z-index: 99999;
}

#present-ui-button {
    position: absolute;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: rgb(52, 64, 81);
    box-sizing: border-box;
    padding: 2.5px;
}

#present-ui-button:hover {
    cursor: pointer;
    border-color: rgb(15, 129, 129);
    background-color: rgb(64, 78, 98);
}

#present-image {
    width: 100%;
    aspect-ratio: 1;
}

.tooltip-base {
    --tooltip-arrow-size: 10px;
}

.tooltip-base::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: var(--tooltip-arrow-size) solid transparent;
    border-bottom: var(--tooltip-arrow-size) solid transparent;
    opacity: 0;
    pointer-events: none;
}

.tooltip-base::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    width: min-content;
    height: min-content;
    font-size: 25px;
    opacity: 0;
    pointer-events: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    padding: 4px 7px;
    border-radius: 5px;
}

.tooltip-base:hover::after,
.tooltip-base:hover::before {
    opacity: 1;
}

.tooltip-left::before {
    right: calc(100% + 4px);
    border-left: var(--tooltip-arrow-size) solid #333;
}

.tooltip-left::after {
    right: calc(100% + var(--tooltip-arrow-size) + 4px);
}

.tooltip-right::before {
    left: calc(100% + 4px);
    border-right: var(--tooltip-arrow-size) solid #333;
}

.tooltip-right::after {
    left: calc(100% + var(--tooltip-arrow-size) + 4px);
}

.large-pop-up-banner {
    --present-ui-border: 5px solid rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
    background-color: white;
    position: static;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: var(--present-ui-border);
}

.present-side-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    padding: 10px 7.5px;
    border-right: var(--present-ui-border);
    height: 100%;
    flex-shrink: 0;
    background-color: rgb(204, 204, 205);
}

.present-exit-wrap {
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
}

.present-options-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
    box-sizing: border-box;
    padding: 75px 0;
    flex-grow: 1;
}

.present-btn-img {
    width: 100%;
    aspect-ratio: 1;
}

.present-button {
    position: relative;
    outline: none;
    border: none;
    margin: 0;
    box-sizing: border-box;
    padding: 4px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: 2px solid transparent;
}

.present-button:hover {
    cursor: pointer;
    filter: brightness(115%);
    border-color: black;
}

.present-tooltip::after {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    font-weight: 400;
}

.present-exit-button {
    background-color: rgb(139, 55, 55);
    border-color: rgb(157, 0, 0);
    border-color: #500000;
}

.present-generate-btn {
    background-color: rgb(30, 107, 81);
    border-color: rgb(15, 59, 45);
}

.present-copy-btn {
    background-color: #2868a0;
    border-color: rgb(13, 16, 109);
}

.present-copy-btn[data-status="copy-cooldown"]::after {
    display: block;
    content: 'Copied!';
    opacity: 1;
}

.present-copy-btn[data-status="copy-cooldown"]::before {
    display: block;
    opacity: 1;
}

.present-save-btn {
    background-color: rgb(69, 59, 155);
    border-color: rgb(45, 3, 130);
}

.present-answer-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    background-color: #7c5443;
    border-color: rgb(87, 37, 0);
    position: relative;
    --tt-visibility: hidden;
    --tt-opacity: 0;
}

.present-answer-btn:hover {
    background-color: #8a6150;
    filter: brightness(100%);
    --tt-visibility: visible;
    --tt-opacity: 1;
}

.present-ans-tooltip-wrap {
    --tt-arrow-size: 20px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: calc(100% + var(--tt-arrow-size));
    transform: translateY(-50%) translateX(2px);
    width: fit-content;
    height: fit-content;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.191);

    visibility: var(--tt-visibility);
    opacity: var(--tt-opacity);
    transition: opacity 0.15s ease;
}

.present-ans-tooltip-wrap::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%) translateX(2px);
    width: 0; 
    height: 0; 
    border-top: var(--tt-arrow-size) solid transparent;
    border-bottom: var(--tt-arrow-size) solid transparent; 
    border-right: var(--tt-arrow-size) solid #333; 
}

.ans-tooltip-content {
    display: inline-block;
}

.present-ans-title,
.present-answer-wrap {
    font-weight: 400;
    display: block;
    text-align: center;
}

.present-ans-title {
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.488);
    background-color: #2e2e2e;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 5px;
    padding: 7.5px;
}

.present-answer-wrap {
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

.present-ans-math {
    max-width: 200px; 
    max-height: 200px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.present-canvas-wrap {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.present-preview-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
}

@media (max-width: 1700px) {
    #present-ui-button {
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
    }

    .tooltip-left {
        --tooltip-arrow-size: 8px;
    }

    .tooltip-left::after {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    #present-ui-button {
        top: 4px;
        right: 4px;
        border-radius: 3px;
        padding: 1px;
        width: 30px;
        height: 30px;
        border-width: 1px;
    }

    .tooltip-left::before,
    .tooltip-left::after {
        display: none;
    }

    #gen-type-header {
        text-align: center;
        max-width: calc(100% - 2 * (30px + 4px));
    }

    .present-button {
        width: 40px;
        height: 40px;
        font-size: 30px;
        
    }

    .present-button::before,
    .present-button::after {
        display: none;
    }

    .present-generate-btn {
        font-size: 40px;
        padding-bottom: 9px;
    }
}

@media (max-width: 500px) {
    #present-ui-button {
        width: 25px;
        height: 25px;
    }
}