/* temp



''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''

''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
*/

body {
    overflow: hidden;
}


/* temp



''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''

''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
''''''''''''''''''''''''''''
*/

.dark-overlay {
    position: fixed;
    top: 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.341);
    z-index: 99;
}

.top-stacking-overlay {
    z-index: 99999;
}

#present-ui-button {
    position: absolute;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: rgb(52, 64, 81);
    box-sizing: border-box;
    padding: 2.5px;
}

#present-ui-button:hover {
    cursor: pointer;
    border-color: rgb(15, 129, 129);
    background-color: rgb(64, 78, 98);
}

#present-image {
    width: 100%;
    aspect-ratio: 1;
}

.tooltip-left {
    --tooltip-arrow-size: 10px;
}

.tooltip-left::before {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(100% + 4px);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: var(--tooltip-arrow-size) solid transparent;
    border-bottom: var(--tooltip-arrow-size) solid transparent;
    border-left: var(--tooltip-arrow-size) solid #333;
    opacity: 0;
    pointer-events: none;
}

.tooltip-left::after {
    content: 'Present';
    position: absolute;
    top: 50%;
    right: calc(100% + var(--tooltip-arrow-size) + 4px);
    transform: translateY(-50%);
    background-color: #333;
    width: min-content;
    height: min-content;
    font-size: 25px;
    opacity: 0;
    pointer-events: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    padding: 4px 7px;
    border-radius: 5px;
}

.tooltip-left:hover::after,
.tooltip-left:hover::before {
    opacity: 1;
}

.large-pop-up-banner {
    --present-ui-border: 3px solid black;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: static;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: var(--present-ui-border);
}

.present-side-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    padding: 10px 7.5px;
    border-right: var(--present-ui-border);
    height: 100%;
    flex-shrink: 0;
    background-color: rgb(204, 204, 205);
}

.preset-exit-wrap {
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
}

.preset-options-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
    box-sizing: border-box;
    padding: 75px 0;
    flex-grow: 1;
}

.preset-btn-img {
    width: 100%;
    aspect-ratio: 1;
}

.preset-button {
    outline: none;
    border: none;
    margin: 0;
    box-sizing: border-box;
    padding: 4px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: 2px solid transparent;
}

.preset-exit-button {
    background-color: rgb(139, 55, 55);
    border-color: rgb(157, 0, 0);
}

.preset-answer-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    background-color: #7c5443;
    border-color: rgb(87, 37, 0);
}

.preset-generate-btn {
    background-color: rgb(30, 107, 81);
    border-color: rgb(15, 59, 45);
}

.preset-copy-btn {
    background-color: #2868a0;
    border-color: rgb(13, 16, 109);
}

.preset-save-btn {
    background-color: rgb(69, 59, 155);
    border-color: rgb(45, 3, 130);
}

.present-canvas-wrap {
    flex-grow: 1;
    height: 100%;
}