#settings-container-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin-bottom: 50px;
}

#settings-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: rgb(52, 64, 81);
  border: 0.2vw solid rgb(75, 20, 20);
  border-radius: 0.4vw;
  border-top-left-radius: 0;
  padding: 1.25vw;
  transition: border-color 150ms ease-in-out;
}

#settings-container[data-use-preset-status="applied"] {
  border-color: rgb(15, 129, 129);
}

#settings-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three columns per row */
  gap: 60px;
  height: fit-content;
}

.setting-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 12.5vw;
  height: 12.5vw;
  min-width: 12.5vw;
  min-height: 12.5vw;
  background-color: rgb(236, 236, 236);
  border: 0.1vw solid grey;
  border-radius: calc(0.05 * 12.5vw);
  padding-left: 0.1vw;
  padding-right: 0.1vw;
}

.settings-label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3vw;
  font-weight: 600;
  margin-top: 0.3vw;
  color: rgb(10, 7, 25);
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0;
}

.inner-settings-wrapper {
  /* contains outer-radio-button-wrapper */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  width: 99%;
  gap: 17%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 3%;
}

.setting-control-buttons {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  position: relative;
  width: 100%;
}


.outer-radio-button-wrapper {
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: visible;
}

.inner-radio-button-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;

}

@keyframes flash-red {

  0%,
  40% {
    border-color: red;
    color: red;
  }

  41%,
  60% {
    border-color: rgb(20, 20, 20);
    color: black;
  }

  61%,
  99% {
    border-color: red;
    color: red;
  }

  100% {
    border-color: rgb(20, 20, 20);
    color: black;
  }
}

.flash-red {
  animation: flash-red 0.5s steps(1);
}

.settings-text-box {
  width: 3vw;
  height: 3vw;
  font-size: 2.3vw;
  text-align: center;
  outline: none;
  border: 0.1vw solid rgb(20, 20, 20);
  border-radius: 0.1vw;
  font-family: monospace;
  font-weight: 400;
}

.settings-text-box:focus {
  border: 0.12vw solid #1A73E8;
}

/* Settings tooltip and lock/unlock styles */

.settings-lock-image {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  user-select: none;
}

.settings-info-button {
  width: 1.3vw;
  height: 1.3vw;
  font-size: 1.1vw;
  font-weight: 600;
  background-color: rgb(255, 166, 0);
  color: white;
  margin-bottom: 0.2vw;
  border: none;
  border-radius: 0.1vw;
  text-align: center;
  position: relative;
  user-select: none;
}

.settings-lock[data-status="unlocked"] {
  background-color: rgb(59, 111, 59);
}

.settings-lock[data-status="locked"] {
  background-color: rgb(155, 45, 45);
}

.settings-info-button:hover,
.settings-info-button:focus {
  cursor: default;
  outline: 0.05vw solid darkblue;
}

.settings-lock:hover,
.settings-lock:focus {
  cursor: pointer;
}

.settings-lock[data-status="unlocked"]:hover,
.settings-lock[data-status="unlocked"]:focus {
  outline-color: rgb(17, 255, 0);
}

.settings-lock[data-status="locked"]:hover,
.settings-lock[data-status="locked"]:focus {
  outline-color: rgb(255, 0, 0);
}

.settings-info-button::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + 0.65vw);
  /* Position tooltip above the button and arrow */
  left: -40%;
  transform: translateX(-50%);
  width: 11vw;
  /* Fixed width, allows height to grow dynamically */
  padding: 0.5vw;
  background-color: #333;
  color: whitesmoke;
  border-radius: 0.3vw;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1vw;
  height: max-content;
  /* Allows text wrapping */
  white-space: normal;
  opacity: 0;
  pointer-events: none;
  transition: opacity 25ms ease-in-out;
  z-index: 10;
}

.settings-lock::before {
  left: 50%;
  width: 5vw;
}

.settings-lock[data-status="unlocked"]::before {
  content: "Unlocked";
}

.settings-lock[data-status="locked"]::before {
  content: "Locked";
}

.settings-info-button:hover::before {
  opacity: 1;
  /* Makes the tooltip visible on hover */
}

.settings-info-button::after {
  content: '';
  position: absolute;
  bottom: calc(100% + 0.2vw);
  /* Place arrow just below the tooltip box */
  left: 50%;
  transform: translateX(-50%);
  border-left: 0.5vw solid transparent;
  border-right: 0.5vw solid transparent;
  border-top: 0.5vw solid #333;
  /* Matches tooltip background */
  opacity: 0;
  pointer-events: none;
  transition: opacity 25ms ease-in-out;
}

.settings-info-button:hover::after {
  opacity: 1;
  /* Makes the arrow visible on hover */
}

.settings-override-idc {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 15px;
  background-color: rgb(15, 129, 129);
  height: 32px;
  aspect-ratio: 1;
  border-radius: 2.5px;
  color: whitesmoke;
  font-size: 29px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

.settings-override-idc[data-status="shown"] {
  display: flex;
}

.settings-override-idc:hover {
  outline: 0.05vw solid rgb(0, 0, 103);
}

.settings-override-idc::before {
  content: 'Auto-set';
  position: absolute;
  left: unset;
  right: 0;
  transform: translateX(10px);
  width: fit-content;
  bottom: calc(100% + 11px + 2.5px);
  font-size: 20px;
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: fit-content;
  opacity: 0;
  pointer-events: none;
  transition: opacity 25ms ease-in-out;
  z-index: 10;
  white-space: nowrap;
}

.settings-override-idc::after {
  content: '';
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid #333;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + 3.5px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 25ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  transition: opacity 25ms ease-in-out;
}

.settings-override-idc:hover::before,
.settings-override-idc:hover::after {
  opacity: 1;
}

/* Radio button styles */

.radio-circle-wrapper {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5vw;
}

.radio-buttons {
  width: 1vw;
  height: 1vw;
  min-width: 1vw;
  min-height: 1vw;
}

.radio-buttons:hover {
  cursor: pointer;
}

.radio-button-label {
  display: inline;
  font-size: 1vw;
  font-family: monospace;
  overflow-x: auto;
  overflow-y: hidden;
  flex-grow: 1;
}

/* Scroll bar if the settings overflow a settings box vertically */
.inner-settings-wrapper::-webkit-scrollbar {
  width: 10px;
  /* Scrollbar width */
}

.inner-settings-wrapper::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Dark gray thumb */
  border-radius: 5px;
}

.inner-settings-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #666;
  /* Slightly lighter on hover */
}

.inner-settings-wrapper::-webkit-scrollbar-track {
  background: #2222223d;
  /* Dark background for contrast */
  border-radius: 10px;
  /* Round the track ends */
  margin: 10px 0;
  /* Prevents the track from extending fully */
}

/* Scroll bar if the settings overflow a settings box horizontally */
.radio-button-label::-webkit-scrollbar {
  height: 10px;
  /* Scrollbar width */
  min-height: 7.5px;
}

.radio-button-label::-webkit-scrollbar-thumb {
  background-color: #777777;
  /* Dark gray thumb */
  border-radius: 5px;
}

.radio-button-label::-webkit-scrollbar-thumb:hover {
  background-color: #535353;
  /* Slightly lighter on hover */
}

.radio-button-label::-webkit-scrollbar-track {
  background: #5c5c5c3d;
  /* Dark background for contrast */
  border-radius: 10px;
  /* Round the track ends */
  margin: 10px 0;
  /* Prevents the track from extending fully */
}

.last-radio-option {
  margin-bottom: 0;
}

/* number range styles */

.number-range-wrapper {
  font-size: 0.8vw;
  font-family: monospace;
}

.solution-point-wrapper {
  font-size: 2.5vw;
  font-family: monospace;
}

.textbox-w-checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbox-w-checkbox-wrapper::after {
  content: attr(data-input-name);
  position: absolute;
  bottom: 105%;
  font-size: 0.8vw;
  width: fit-content;
  height: fit-content;
  font-family: monospace;
}

.textbox-w-checkbox:focus {
  border-width: 0.1vw;
  outline: 0.05vw solid #1A73E8;
  ;
}

.settings-checkbox-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 6.7vw;
  min-width: 110px;
  height: 1.3vw;
  min-height: 20px;
  font-size: clamp(13px, 0.9vw, 0.9vw);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: white;
  background-color: #585858;
  border: 0.1vw solid rgb(68, 67, 67);
  border-radius: 0.1vw;
}

.textbox-checkbox-tab {
  width: fit-content;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
  max-width: 85%;
  height: fit-content;
  min-height: 1.4vw;
}

.single-settings-checkbox {
  margin-right: 0.15vw;
  width: 1vw;
  height: 1vw;
  min-width: 16px;
  min-height: 16px;
}

.single-settings-checkbox:hover {
  cursor: pointer;
}

.number-range-box {
  font-size: 1.8vw;
}

.wide-textbox {
  width: 4vw;
}

.wide-range-box {
  width: 3.3vw;
  font-size: 1.4vw;
}

/* Special radio button styles */

.radio-math {
  font-size: 1.1vw;
}

.radio-math-big {
  font-size: 1.5vw;
}

.radio-no-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.radio-realigned {
  display: flex;
  align-items: center;
}

.radio-sub-label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  padding-bottom: 0.1vw;
  font-size: 1.1vw;
}

/* Textbox table styles */

.textbox-table-wrapper {
  width: 95%;
}

.textbox-table-entry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 0;
}

.textbox-table-entry:last-child {
  margin-bottom: 0;
}

.table-textbox {
  text-align: center;
  width: 1.8vw;
  height: 1.8vw;
  font-size: 1.5vw;
}

.table-textbox-label {
  display: inline;
  font-family: monospace;
  font-size: 1vw;
  margin-left: 5%;
}

.dimension-textbox-x {
  font-size: 2.5vw;
}

@media (max-width: 1700px) {

  /* Ipads and Small Laptops */
  #settings-container {
    border-width: 0.4vw;
    border-radius: 0.6vw;
    border-top-left-radius: 0;
  }

  #settings-form {
    gap: 48px;
  }

  .setting-box {
    width: 21vw;
    height: 21vw;
    min-width: 21vw;
    min-height: 21vw;
    border-width: 0.2vw;
    border-radius: calc(0.05 * 21vw);
  }

  .settings-label {
    font-size: 2.1vw;
  }

  #settings-preset-checkbox {
    width: 1.5vw;
    height: 1.5vw;
  }

  .radio-buttons {
    width: 1.8vw;
    height: 1.8vw;
    min-width: 1.8vw;
    min-height: 1.8vw;
  }

  .radio-button-label {
    font-size: 1.7vw;
  }

  .settings-text-box {
    width: 5vw;
    height: 5vw;
    font-size: 3.1vw;
    border-width: 0.1vw;
  }

  .settings-text-box:focus {
    border-width: 0.25vw;
  }

  .wide-range-box {
    width: 5.5vw;
    font-size: 2.4vw;
  }

  .settings-info-button {
    width: 2.3vw;
    height: 2.3vw;
    font-size: 2.1vw;
    margin-bottom: 0.3vw;
    border-radius: 0.15vw;
  }

  .settings-info-button::before {
    bottom: calc(100% + 0.85vw);
    /* Position tooltip above the button and arrow */
    width: 18vw;
    /* Fixed width, allows height to grow dynamically */
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.75vw;
  }

  .settings-info-button::after {
    bottom: calc(100% + 0.2vw);
    /* Place arrow just below the tooltip box */
    border-left: 0.8vw solid transparent;
    border-right: 0.8vw solid transparent;
    border-top: 0.8vw solid #333;
    /* Matches tooltip background */
  }

  .radio-math {
    font-size: 2vw;
  }

  .radio-math-big {
    font-size: 2.6vw;
  }

  .radio-sub-label {
    font-size: 1.85vw;
    padding-bottom: 0.17vw;
  }

  .number-range-wrapper {
    font-size: 1.2vw;
  }

  .settings-checkbox-tab {
    width: 9.5vw;
    height: 1.8vw;
    font-size: 1.4vw;
  }

  .single-settings-checkbox {
    width: 1.3vw;
    height: 1.3vw;
  }

  .settings-info-button::before {
    left: -47.5%;
  }

  .settings-lock::before {
    left: 50%;
    width: 9vw;
  }

  .setting-control-buttons {
    gap: 2.2vw;
  }
}

@media (max-width: 900px) {
  #settings-container {
    border-width: 3px;
    border-radius: 1.5vw;
  }

  #settings-form {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .setting-box {
    width: 75vw;
    height: 75vw;
    min-width: 75vw;
    min-height: 75vw;
    border-width: 0.2vw;
    border-radius: calc(0.05 * 81vw);
    margin: 2vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
  }

  .settings-label {
    margin-top: 0.5vw;
    font-size: 8vw;
    margin-bottom: 2.5vw;
  }

  #settings-preset-checkbox {
    width: 3.8vw;
    height: 3.8vw;
  }

  .radio-buttons {
    width: 7vw;
    height: 7vw;
    min-width: 7vw;
    min-height: 7vw;
    margin-bottom: 4.5vw;
    margin-right: 1.5vw;
  }

  .radio-button-label {
    margin-bottom: 4.5vw;
    font-size: 6vw;
  }

  .settings-text-box {
    width: 20vw;
    height: 20vw;
    font-size: 12.3vw;
    border-width: 0.6vw;
  }

  .number-range-box {
    font-size: 11.5vw;
  }

  .wide-range-box {
    font-size: 8vw;
  }

  .settings-text-box:focus {
    border-width: 1vw;
  }

  .settings-info-button {
    width: 7.5vw;
    height: 7.5vw;
    font-size: 7vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
  }

  .settings-info-button::before {
    bottom: calc(100% + 3.85vw);
    /* Position tooltip above the button and arrow */
    width: 70vw;
    /* Fixed width, allows height to grow dynamically */
    padding: 2.5vw;
    border-radius: 2.2vw;
    font-size: 6vw;
  }

  .settings-info-button::after {
    bottom: calc(100% + 0.75vw);
    /* Place arrow just below the tooltip box */
    border-left: 4vw solid transparent;
    border-right: 4vw solid transparent;
    border-top: 4vw solid #333;
    /* Matches tooltip background */
  }

  .radio-math {
    font-size: 7.5vw;
  }

  .radio-math-big {
    font-size: 9.5vw;
  }

  .radio-sub-label {
    font-size: 7vw;
    padding-bottom: 0.7vw;
  }

  .number-range-wrapper {
    font-size: 5vw;
  }

  .solution-point-wrapper {
    font-size: 15vw;
  }

  .settings-checkbox-tab {
    width: 32vw;
    height: 5.4vw;
    font-size: 4.5vw;
  }

  .single-settings-checkbox {
    width: 4.5vw;
    height: 4.5vw;
    margin-right: 0.75vw;
  }

  .settings-info-button::before {
    left: -52.5%;
  }

  .settings-lock::before {
    display: none;
  }

  .settings-lock::after {
    display: none;
  }

  .setting-control-buttons {
    gap: 8vw;
  }

  .settings-override-idc {
    height: 27px;
    font-size: 26px;
    bottom: 3px;
  }
}