#worksheet-page {
    width: 100vw;
    height: 100vh;
}

#worksheet-top-bar {
    height: 5vh;
    background-color: rgb(29, 28, 28);
}

#worksheet-content-wrapper {
    display: flex;
    height: 95vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#worksheet-page-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    border: 1px solid rgba(139, 137, 137, 0.534);
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: #2e2e2e;
    overflow-y: auto;
}

.worksheet-page {
    background-color: white;
    height: 87vh;
    width: calc(87vh * 8.5 / 11);
    min-height: 87vh;
    min-width: calc(87vh * 8.5 / 11);
    margin-top: 1vw;
    margin-bottom: 1vw;
    overflow: hidden;
}

.worksheet-side-panel {
    width: 25%;
    height: 100%;  
}

#worksheet-left-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto; 
}

#worksheet-right-panel {
    font: none;
}

#outline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 1.5vw;
    width: 80%;
    height: fit-content;
}

.outline-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 5vh;
    border-radius: 1%;
    border-width: 0.1vw;
    border-style: solid;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
}

.outline-document {
    width: 100%;
    background-color: blue;
}

.outline-page {
    width: 93%;
    background-color: green;
}

.outline-content {
    width: 80%;
    background-color: red;
}

.outline-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;

    text-align: center;
    color: white;
    font-size: 1.5vw;
}

.outline-nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.outline-button {
    width: 1.5vw;
    height: 1.5vw;
    font-size: 0.7vw;
    margin-left: 1.5vw;
    font-size: 1vw;
}



